$yellow: #FFD662;
$blue: #00539c;
$blueGradient: rgba(0, 83, 156, 0.8);
$black: #202020;
$white: #f7f7f7;
$gray: #cacaca;
$darkGray: #919191;
$facebook: #1877f2;
$twitter: #00ACEE;
$linearGradient: linear-gradient(29deg, rgba(255,255,255,0.52) 0%,
rgba(54,128,212,0.3) 52%,rgba(255,255,255,0.3) 100%)